<!--Author Ryan Pinkney
This is the landing page
-->

@{
    <!-- Set the tab title-->
    ViewData["Title"] = "Home Page";
}

<!-- Title for the index-->
<div class="text-center">
    <h1 class="display-4">Bowling League from 402</h1>
    <p>This is the mission 13 assignment for Ryan Pinkney</p>
</div>
